* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
  background-image:
    url(pexels-olly-3764013.jpg);
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.hero h1 {
  font-size: 40px;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 58px;
}

.btn button {
  border: 1px solid white;
    color: white;
  margin-top: 20px;
  padding: 10px 29px;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #000000;
}

.section2 {
  background-color: #e4d6d6;
  height: 23rem;
  color: #a14d4d;
  font-family: Arial, Helvetica, sans-serif;
}
.first h2 {
  width: 180px;
}
.sectionf {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
  gap: 10px;
  padding: 20px;
  padding-top: 90px;
}

.firstp {
  width: 390px;
  text-align: center;
  font-size: 16.8px;
}

.jarvis{
  background-image: linear-gradient(rgba(255, 220, 225, 0.651) 50%, rgba(255, 255, 255, 0.541)),url(skin.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #a52a2ac9;
  height: 70vh;
}
.textj{
  padding: 180px;
  display: flex;
  flex-direction: column;
  /* margin-left: 50px; */
}
.textj h2{
  font-size: 30px;
  padding-bottom: 10px;
}
.textj p{
  width: 200px;
}
.section3 {
  height: 63vh;
  background-image: linear-gradient(
      to left,
      #a52a2ac9,
      rgba(255, 255, 255, 0.315)
    ),
    url(im.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.organics {
  display: flex;
  flex-direction: column;
  align-items:end;
  padding: 20px;
  /* left: 30px; */
  /* float: right; */
  justify-content: center;
}
.organics p {
  width: 190px;
  margin-top: 22px;
  color: white;
  margin-bottom: 50px;
  font-weight: 700;
}
.glow{
  background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.582) ), url(skin2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  /* width: 1000px; */
}
.textg{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textg h2{
  color: white;
  text-align: center;
  padding-top: 70px;
  line-height: 1.2;
  padding-bottom: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
}

.glow p{
  text-align: center;
  line-height: 1.4;
  width: 520px;
  color: white;
}

.products{
    background-color: #a14d4d;
    padding-bottom: 70px;
}
.products h2{
    padding-top: 60px;
    text-align: center;
    color: white;
}
.pros{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.pro1 img{
    width: 239px;
    height: 200px;
    margin-bottom: 20px;
    object-fit: cover;
}
.pro1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.textp{
    width: 200px;
    font-weight: 700;
}
.textp small{
    font-weight: lighter;
}
.allcustom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    place-content: center;
    /* width: 1100px; */
    place-items: center;
    gap: 41px;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));

}
.customers{
    background-color:#e4d6d6;
    color: #a14d4d;
    padding-bottom: 90px;

}
.customers h2{
    text-align: center;
    padding: 60px;
}
.customer{
    background-color: white;
    width: 340px;
    height: 290px;
    border: 2px solid pink;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.contact{
    background-image: url(pexels-olly-3764013.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.info{
    display: flex;
    position: relative;
    right: 40px;
    float: right;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: #a14d4d;
}
.add{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    margin-bottom: 20px;
}


@media screen and (max-width: 468px) {
  * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  html,head{
    overflow-x: hidden;
  }

  .hero{
    text-align: center;
      background-image:linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.37)),
        url(pexels-olly-3764013.jpg);
      height: 20rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: white;
  }
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero h1 {
    width: 220px;
  }

  .btn button {
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    padding: 10px 29px;
    background-color: transparent;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgba(255, 255, 255, 0.404);
    color: #000000;
  }

  .sectionf {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    }
  
    .firstp {
        width: 270px;
       
      }
      .section2 {
        background-color: #e4d6d6;
        height: 70vh;
      }

          .section3 {
        height: 63vh;
        background-image: linear-gradient(
            to left,
            #a52a2ac9,
            rgba(255, 255, 255, 0.315)
          ),
          url(im.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .organics {
        display: flex;
        /* flex-direction: column; */
        padding: 20px;
        float: right;
        margin-top: 20px;
      }

      .textg{
        display: block;
        align-items: center;
      }
      .textg p{
        width: 350px;
        padding-left: 10px;
      }

      .pros{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr ;
        place-items: center;
        ;
    }
    .products h2{
        display: block;
        padding-top: 80px;
    }
    .pro1{
        padding-bottom: 35px;
    }
    .allcustom{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        place-content: center;
        gap: 40px;
        width: 93vw;
        padding-left: 13px;
    }
    .customer{
        width: 90%;
    }
    .contact{
        background-image: linear-gradient(to top, white, rgba(228, 221, 221, 0.493)),url(pexels-olly-3764013.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 60vh;
        
    }
    .add small{
      text-align: center;
      width: 200px;
    }
    .textj{
      padding: 100px;
    }
}
